<div class="layout-row layout-xs-column contact-section">
  <div class="flex-100"><span>+44 7935136508 (mobile)</span><br><br>
  <span>jardwebdesign (skype)</span><br><br>
  <span>dev@jardwd.space</span><br><br>
  <a href="https://twitter.com/dyoungwd"> <i class="fab fa-twitter fa-2x "></i></a>
  <a href="https://github.com/dyooungwd"> <i class="fab fa-github-alt fa-2x "></i></a>
  <a href="https://bitbucket.org/dyoungwd"> <i class="fab fa-bitbucket fa-2x"></i></a>
  <a href="https://www.behance.net/dyoungwd"> <i class="fab fa-behance fa-2x"></i></a>
  <br><br>
  {{#paper-button raised=true onClick=(action "targetButton")}}Send Request{{/paper-button}}<br><br>
  <div class="footer-copyright">Copyright 2019 JARD</div>
</div>

</div>
