<div class="projects">
  <div class="layout-row flex">
  <div class="flex projects-title"><a href="#">OctoberCMS</a> Projects</div>

  <div class="flex projects-icon"><img src="images/icon-OctoberCMS.png" width="185" alt="icon"></div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex"><div class="content">
    <a href="https://octobercms.com/theme/jardwd-native-droid2" target="_blank" rel="noopener">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/theme-nd2.png" alt="">
      <div class="content-details fadeIn-top">
        <h3 class="content-title">nd2.jardwd.space</h3>
        <p class="content-text">A theme for October CMS</p>
      </div>
    </a>
  </div>
</div>

  <div class="flex">
    <div class="content">
      <a href="https://octobercms.com/theme/jardwd-oc-bisdev-theme" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/theme-oc-bisdev.png" alt="">
        <div class="content-details fadeIn-top">
          <h3 class="content-title">bisdev.jardwd.space</h3>
          <p class="content-text">A theme for October CMS</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="http://astrologybyamittalwar.com" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/theme-astro.png" alt="">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Astrology Web Site</h3>
          <p class="content-text">October CMS</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="https://tlacare.co.uk" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/theme-tla.png" alt="">
        <div class="content-details fadeIn-left">
          <h3 class="content-title">TLA Care</h3>
          <p class="content-text">October CMS</p>
        </div>
      </a>
    </div>
  </div>

</div>



<div class="layout-row flex">
  <div class="flex projects-title"><a href="#">Joomla</a> Projects</div>

  <div class="flex projects-icon"><img src="images/icon-joomla.png" width="185" alt="icon"></div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/joomla-mta.png" alt="">
        <div class="content-details fadeIn-right">
          <h3 class="content-title">MTA Dental</h3>
          <p class="content-text">Joomla</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/joomla-london-stone.png" alt="">
        <div class="content-details fadeIn-top">
          <h3 class="content-title">London Stone Group</h3>
          <p class="content-text">Joomla Landing Page</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/joomla-vixen.png" alt="">
        <div class="content-details fadeIn-top">
          <h3 class="content-title">Vixen Tanning</h3>
          <p class="content-text">Joomla Site</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="http://ilogtech.com/" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/joomla-ilog.png" alt="">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">I-Logtech</h3>
          <p class="content-text">Joomla Site</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/joomla-renisma.png" alt="">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Renisma</h3>
          <p class="content-text">Joomla VirtueMart </p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/joomla-chris.png" alt="Christiana Leucas - actress & model">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Christiana Leucas</h3>
          <p class="content-text">Joomla Portfolio</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row flex">
  <div class="flex projects-title"><a href="#">Other</a> Projects</div>

  <div class="flex projects-icon"><img src="images/icon-OctoberCMS.png" width="185" alt="icon"></div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="https://jard-css.aerobaticapp.com/" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/jard-css.png" alt="">
        <div class="content-details fadeIn-top">
          <h3 class="content-title">JARD Framework</h3>
          <p class="content-text">CSS Framework</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
    <a href="https://where-am-i.bisdev.space" target="_blank" rel="noopener">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/app-where-am-i.png" alt="">
      <div class="content-details fadeIn-top">
        <h3 class="content-title">Where Am I</h3>
        <p class="content-text">AngularJS + Framework 7</p>
      </div>
    </a>
  </div>
</div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="https://niallobyrnes.github.io" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/jekyll-niall.png" alt="">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">niallobyrnes.github.io</h3>
          <p class="content-text">Jekyll - GitHub</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="http://renlifehairgain.in" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/other-renlife.png" alt="">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Renlife</h3>
          <p class="content-text">HTML5 - Paypal </p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
      <div class="content">
      <a href="http://www.premiumfishoil.in/" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/other-fish.png" alt="">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">premiumfishoil.in</h3>
          <p class="content-text">HTML5 Bootstrap</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="http://www.amveraglobal.in/" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="images/other-amvera.png" alt="">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Amvera Global</h3>
          <p class="content-text">HTML5</p>
        </div>
      </a>
    </div>
  </div>

</div>
</div>
