{{#paper-toolbar as |toolbar|}}
   {{#toolbar.tools}}

     {{#paper-sidenav-toggle name="left" as |toggleAction|}}
             {{#paper-button raised=true onClick=(action toggleAction)}}
               Toggle left sidenav
             {{/paper-button}}
           {{/paper-sidenav-toggle}}
     <img src="images/logo-light2.png" alt="JARD">
     <span class="flex"></span>
     {{#paper-button raised=true}}
       Learn More
     {{/paper-button}}
     {{#paper-button mini=true aria-label="Favorite"}}
      {{paper-icon "favorite"}}
     {{/paper-button}}
   {{/toolbar.tools}}
 {{/paper-toolbar}}
