$primary: "deep-purple";
$accent: "light-green";
$warn: "pink";
@import 'ember-burger-menu';
@import 'ember-paper';
@import 'colors';

body {
  background: #0F173F;
  color: #fcfcfc;
}

.md-toolbar-tools {

    background-color: #0F173F;
  }

  .sidenav {
     color: #fcfcfc;
     background-color: #0F173F;
     font-size: 1.8rem;
     line-height: 2rem;

     a {
color: #fcfcfc;
     }
   }

    .index-header {
   padding: 5%;


    .left-text {
      font-size: 2.3rem;
      padding: 0 3% 0 10%;
    }

    .right-text {
      font-size: 1.6rem;
      padding: 0 1% 0 3%;
    }

    }

    .tag-line {
      font-size: 2.1rem;
      line-height: 2.4rem;
      padding: 1% 0 1% 5%;
      background: #16473A;
      color: #fcfcfc;
      margin-bottom: 3%;
    }

    .idea {
      background-color: $gray-light;
      padding: 2%;
      margin-bottom: 0;

      .text-header {
        color: $black;
        font-size: 2.2rem;
      }
      .text {
        color: $black;
        font-size: 1.8rem;
      }
    }

.tools {

  background: $grey-pastel;

  text-align: center;

  .text-header {
    font-size: 3.5rem;
    color:#E1472C;
  }

  .text {
    font-size: 2.5rem;
    color: #57585C;

  }
}
    .projects {

      margin-top: 3%;

      .projects-title {
        font-size: 2.4rem;
        color: $gray-light;
        padding: 5% 0 3% 5%;


        a {
          text-decoration: underline;
          color: $gray-light;
        }
        a:hover {
          color: $grey-pastel;
        }
      }

      .projects-icon {
        padding: 3% 0 3% 0;
      }

    }


    .content {
    position: relative;
    margin: auto;
    overflow: hidden;
    padding-bottom: 0;
    }

    .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    }

    .content:hover .content-overlay{
    opacity: 1;
    }

    .content-image{
    width: 100%;
    }

    .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    }

    .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
    }

    .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    }

    .content-details p{
    color: #fff;
    font-size: 1.9vw;
    }

    .fadeIn-bottom{
    top: 80%;
    }

    .fadeIn-top{
    top: 20%;
    }

    .fadeIn-left{
    left: 20%;
    }

    .fadeIn-right{
    left: 80%;
    }

    .contact-section {
        background: url('https://res.cloudinary.com/jard/image/upload/v1546634879/tay.jpg');
        padding: 2% 0 1% 5%;
        margin:0;
        background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    min-height: 250px;
    text-align: left !important;


    span {
      font-size: 2.1rem;
      line-height: 2.4rem;
      padding-right: 2%;
      color: $gray-light;
      text-align: left !important;
      font-weight: 600;
      opacity: 1;

    }


    .fab {
      color: $blue-dark ;
      padding-right: 1%;
    }

    .footer-copyright {
      font-size: 1.2rem;
    }
        h3 {
            margin: 0;
            padding: 0;
            font-family: 'Open Sans';
            color: rgba(255, 255, 255, .9);
            font-size: 2.4vw;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 auto;
            max-width: 880px;
            height: 450px;
            background: rgba(0, 0, 0, 0.32);
            text-align: left;
            padding: 10px 0;
            .subject,
            .content {
                width: 80%;
                margin: 0 auto;
                label {
                    display: block;
                    padding: 0;
                    margin: 0;
                    font-family: 'Varela Round';
                }
            }
            .id {
                display: flex;
                justify-content: space-between;
                height: 80px;
                width: 80%;
                margin: 0 auto;
                .name,
                .email,
                {
                    display: inline-block;
                    width: 45%;
                    label {
                        display: block;
                        padding: 0;
                        margin: 0;
                        font-family: 'Varela Round';
                    }
                    input[name="email"],
                    input[name="name"] {
                        width: 100%;
                        height: 40px;
                    }
                }
            }
            .subject {
                height: 62px;
                input[name="subject"] {
                    width: 100%;
                    height: 40px;
                }
            }
            .content {
                textarea {
                    width: 100%;
                    resize: none;
                }
                button {
                  margin: 0;
                    float: right;
                    background: #e74c3c;
                    padding: 4px 77px;
                    border: 1px solid #e74c3c;
                    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
                    font-family: 'Varela Round';
                    transition: all .3;
                    font-size: 2.5rem;
                    &:hover {
                        background: #16473A;
                        border: 1px solid rgba(0, 0, 0, .7);
                    }
                }
            }
        }
    }
  
    #contact-form{
        background: $white;
        padding: 30px 0 50px 0;
        text-align: center;
        opacity: 0.9;
       min-height: 400px;
       color: $black;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 600;

        h3 {
            margin: 0;
            padding: 0;

            color: rgba(255, 255, 255, .9);
            font-size: 2.5rem;
            color: $black;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 auto;
            max-width: 880px;
            height: 100%;
            background: rgba(0, 0, 0, 0.32);
            text-align: left;
            padding: 10px 0;
            .subject,
            .content {
                width: 80%;
                margin: 25px auto;
                label {
                    display: block;
                    padding: 0;
                    margin: 0;
                    font-size: 1.4rem;
                    line-height: 1.6rem;

                }
            }
            .id {
                display: flex;
                justify-content: space-between;
                height: 80px;
                width: 80%;
                margin: 0 auto;
                .name,
                .email,
                {
                    display: inline-block;
                    width: 45%;
                    label {
                        display: block;
                        padding: 0;
                        margin: 0;
                        font-size: 1.4rem;
                        line-height: 1.6rem;

                    }
                    input[name="email"],
                    input[name="name"] {
                        width: 100%;
                        height: 40px;
                    }
                }
            }
            .subject {
                height: 62px;
                input[name="subject"] {
                    width: 100%;
                    height: 40px;
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                }
            }
            .content {
                textarea {
                    width: 100%;
                    resize: none;
                }

                .fas {
                  color: $black-pastel;
                }
                button {
                  margin: 15px 0;
                    float: right;
                    background: #e74c3c;
                    padding: 4px 77px;
                    border: 1px solid #e74c3c;
                    box-shadow: 0 0 5px rgba(0, 0, 0, .4);

                    transition: all .3;
                    font-size: 1.1rem;
                    &:hover {
                        background: #16473A;
                        border: 1px solid rgba(0, 0, 0, .7);
                    }
                }
            }
        }
    }
