{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    class="sidenav"
    name="left"
    open=leftSideBarOpen
    lockedOpen=false
    onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}<img src="https://res.cloudinary.com/jard/image/upload/v1560021805/jardwd/logo-light2-min.png" alt="JARD">{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true class="sidenav"}}
    <h3>  <a href="/">HOME</a></h3>
    <h3>   <a href="/this-is-jard">ABOUT</a></h3>
    <h3>   <a href="/projects">PROJECTS</a></h3>
    <h3>   <a href="/contact-form">CONTACT</a></h3>

    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-toolbar as |toolbar|}}
     {{#toolbar.tools}}

       {{#paper-sidenav-toggle name="left" as |toggleAction|}}
               {{#paper-button raised=false onClick=(action toggleAction)}}
                 {{paper-icon "menu" size=48}}
               {{/paper-button}}
             {{/paper-sidenav-toggle}}
       <img src="https://res.cloudinary.com/jard/image/upload/v1560021805/jardwd/logo-light2-min.png" alt="JARD">
       <span class="flex"></span>
      <a href="/contact-form"> {{#paper-button raised=true}}
         ENQUIRE NOW
       {{/paper-button}}</a>

     {{/toolbar.tools}}
   {{/paper-toolbar}}

{{/paper-sidenav-container}}
{{outlet}}
