<section id="contact-form">
  <div class="row">
    <div class="col" style="float:right; padding-right:5%;">
      <a href="javascript:history.back()"><i class="fas fa-window-close fa-3x"></i></a>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <h3>Contact</h3>
      <form class="form" action="https://formspree.io/dev@jardwd.space" method="POST">
        <div class="id">
          <div class="name">
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
          </div>
          <div class="email">
            <label for="email">Email</label>
            <input id="email" type="text" name="email">
          </div>
        </div>
        <div class="subject">
          <label for="subject">Subject</label>

          <input id="subject" type="text" name="subject">
        </div>
        <div class="content">
          <label id="contect" for="content">Message</label>

          <textarea name="content" id="" cols="30" rows="10"></textarea>
          <button type="submit">SUBMIT</button>

        </div>
      </form>
    </div>
  </div>


</section>
