<div class="projects">
  <div class="layout-row flex">
  <div class="flex projects-title"><a href="#">OctoberCMS</a> Projects</div>

  <div class="flex projects-icon"><img src="https://res.cloudinary.com/jard/image/upload/v1560021826/jardwd/icon-OctoberCMS-min.png" width="185" alt="icon"></div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex"><div class="content">
    <a href="https://octobercms.com/theme/jardwd-native-droid2" target="_blank" rel="noopener">
      <div class="content-overlay"></div>
      <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021804/jardwd/theme-nd2-min.png" alt="">
      <div class="content-details fadeIn-top">
        <h3 class="content-title">nd2.jardwd.space</h3>
        <p class="content-text">A theme for October CMS</p>
      </div>
    </a>
  </div>
</div>

  <div class="flex">
    <div class="content">
      <a href="https://octobercms.com/theme/jardwd-oc-bisdev-theme" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021805/jardwd/theme-oc-bisdev-min.png" alt="BisDev Theme">
        <div class="content-details fadeIn-top">
          <h3 class="content-title">bisdev.jardwd.space</h3>
          <p class="content-text">A theme for October CMS</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="http://astrologybyamittalwar.com" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021805/jardwd/theme-astro-min.png" alt="Astro theme">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Astrology Web Site</h3>
          <p class="content-text">October CMS</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="https://tlacare.co.uk" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021804/jardwd/theme-tla-min.png" alt="OctoberCMS">
        <div class="content-details fadeIn-left">
          <h3 class="content-title">TLA Care</h3>
          <p class="content-text">October CMS</p>
        </div>
      </a>
    </div>
  </div>

</div>



<div class="layout-row flex">
  <div class="flex projects-title"><a href="#">Joomla</a> Projects</div>

  <div class="flex projects-icon"><img src="https://res.cloudinary.com/jard/image/upload/v1560021826/jardwd/icon-joomla-min.png" width="185" alt="icon"></div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021814/jardwd/joomla-mta-min.png" alt="joomla">
        <div class="content-details fadeIn-right">
          <h3 class="content-title">MTA Dental</h3>
          <p class="content-text">Joomla</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021816/jardwd/joomla-london-stone-min.png" alt="joomla">
        <div class="content-details fadeIn-top">
          <h3 class="content-title">London Stone Group</h3>
          <p class="content-text">Joomla Landing Page</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021806/jardwd/joomla-vixen-min.png" alt="joomla">
        <div class="content-details fadeIn-top">
          <h3 class="content-title">Vixen Tanning</h3>
          <p class="content-text">Joomla Site</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="http://ilogtech.com/" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021817/jardwd/joomla-ilog-min.png" alt="joomla">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">I-Logtech</h3>
          <p class="content-text">Joomla Site</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021811/jardwd/joomla-renisma-min.png" alt="joomla">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Renisma</h3>
          <p class="content-text">Joomla VirtueMart </p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="#" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021818/jardwd/joomla-chris-min.png" alt="Christiana Leucas - actress & model">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Christiana Leucas</h3>
          <p class="content-text">Joomla Portfolio</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row flex">
  <div class="flex projects-title"><a href="#">Other</a> Projects</div>

  <div class="flex projects-icon"><img src="https://res.cloudinary.com/jard/image/upload/v1560021825/jardwd/icon-other-min.png" width="185" alt="icon"></div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="https://jard-css.aerobaticapp.com/" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021819/jardwd/jard-css-min.png" alt="JARD CSS Framework">
        <div class="content-details fadeIn-top">
          <h3 class="content-title">JARD Framework</h3>
          <p class="content-text">CSS Framework</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
    <a href="https://where-am-i.bisdev.space" target="_blank" rel="noopener">
      <div class="content-overlay"></div>
      <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021831/jardwd/app-where-am-i-min.png" alt="where am i app">
      <div class="content-details fadeIn-top">
        <h3 class="content-title">Where Am I</h3>
        <p class="content-text">AngularJS + Framework 7</p>
      </div>
    </a>
  </div>
</div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
    <div class="content">
      <a href="https://niallobyrnes.github.io" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021819/jardwd/jekyll-niall-min.png" alt="Jekyll Static Site">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">niallobyrnes.github.io</h3>
          <p class="content-text">Jekyll - GitHub</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="http://renlifehairgain.in" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021805/jardwd/other-renlife-min.png" alt="renlife">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Renlife</h3>
          <p class="content-text">HTML5 - Paypal </p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="layout-row layout-xs-column">

  <div class="flex">
      <div class="content">
      <a href="http://www.premiumfishoil.in/" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021805/jardwd/other-fish-min.png" alt="html5">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">premiumfishoil.in</h3>
          <p class="content-text">HTML5 Bootstrap</p>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="content">
      <a href="http://www.amveraglobal.in/" target="_blank" rel="noopener">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://res.cloudinary.com/jard/image/upload/v1560021806/jardwd/other-amvera-min.png" alt="amvera">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Amvera Global</h3>
          <p class="content-text">HTML5</p>
        </div>
      </a>
    </div>
  </div>

</div>
</div>

<div class="layout-row layout-xs-column contact-section">
  <div class="flex-"><span>+44 7935136508 (mobile)</span><br><br>
  <span>jardwebdesign (skype)</span><br><br>
  <span>dev@jardwd.space</span><br><br>
  <a href="https://twitter.com/dyoungwd"> <i class="fab fa-twitter fa-2x "></i></a>
  <a href="https://github.com/dyooungwd"> <i class="fab fa-github-alt fa-2x "></i></a>
  <a href="https://bitbucket.org/dyoungwd"> <i class="fab fa-bitbucket fa-2x"></i></a>
  <a href="https://www.behance.net/dyoungwd"> <i class="fab fa-behance fa-2x"></i></a>
  <br><br>

<br><br>
  <div class="footer-copyright">Copyright 2019 JARD</div>
</div>

</div>
