<div class="layout-row layout-xs-column index-header">
  <div class="flex left-text">FREELANCE WEB DEVELOPMENT<br><br>
Based in Scotland, with over 10 years experience of web development, JARD provides
freelance web services including web design and development, web app development services, server and cloud solutions,
mobile app developmentn and much more.<br><br></div>

</div>

<div class="flex-nogrow tag-line">Web Development - Ecommerce - Cloud Servers</div>


<div class="layout-row layout-xs-column">
  <div class="flex">
    <p class="text-header" style="font-size:3.5rem; padding-left: 5%;"> Web Development Services</p><br><br>
      <p class="text" style="font-size:2.4rem; padding-left: 5%;"> JARD provides a variety of cloud / server and web
        development services</p>


  </div>

  <div class="flex idea">
    <p class="text-header">&nbsp;Custom Web Application Development</p>
    <p class="text">&nbsp;&nbsp; - Progressive Web App Development (PWA)</p>
    <p class="text">&nbsp;&nbsp; - Single Page App Development (SPA)</p>
    <p class="text-header">&nbsp;Web Design and Development Services</p>
    <p class="text">&nbsp;&nbsp; - Custom Web Development</p>
    <p class="text">&nbsp;&nbsp; - Web Portal Development Services</p>
    <p class="text">&nbsp;&nbsp; - Content Managed Website Development</p>
    <p class="text-header">&nbsp;Cloud Server / Hosting</p>
    <p class="text">&nbsp;&nbsp; - AWS, Google Cloud, Openshift</p>
    <p class="text">&nbsp;&nbsp; - Fully Managed Servers</p>
    <p class="text">&nbsp;&nbsp; - Self Hosting Setup</p>
</div>
</div>

<div class="layout-row layout-xs-column">
  <div class="flex tools">
    <<p class="text-header">TOOLS USED</p><br><br>
    <p class="text">Front End: Flexbox, Bulma, Materialise, Bootstrap</p>
    <p class="text">CMS: October CMS, Joomla, Wordpress</p>
    <p class="text">Web App: Ember JS, AngularJS, Vue.js</p>
    <p class="text">Server: CentOS, CWP, Apache, Nginx, Google Cloud, AWS, Bitnami</p>


  </div>
</div>

<div class="layout-row layout-xs-column contact-section">
  <div class="flex-"><span>+44 7935136508 (mobile)</span><br><br>
  <span>jardwebdesign (skype)</span><br><br>
  <span>dev@jardwd.space</span><br><br>
  <a href="https://twitter.com/dyoungwd"> <i class="fab fa-twitter fa-2x "></i></a>
  <a href="https://github.com/dyooungwd"> <i class="fab fa-github-alt fa-2x "></i></a>
  <a href="https://bitbucket.org/dyoungwd"> <i class="fab fa-bitbucket fa-2x"></i></a>
  <a href="https://www.behance.net/dyoungwd"> <i class="fab fa-behance fa-2x"></i></a>
  <br><br>

<br><br>

  <div class="footer-copyright">Copyright 2019 JARD</div>
</div>

</div>
